# Needed for check and lint scripts
-e git+https://github.com/StackStorm/st2sdk.git@master#egg=st2sdk
pyyaml
pep8==1.7.1
flake8==4.0.1
astroid==2.5.6
pylint==2.8.2
# fix isort dependency of pylint 1.9.4 by keeping it below its 5.x version
isort>=4.2.5
