# Needed for check and lint scripts
-e git+https://github.com/EncoreTechnologies/st2sdk.git@feature/updated_requirements#egg=st2sdk
#flake8==4.0.1
pyyaml
pep8
flake8==3.7.7
astroid
pylint==3.1.1
isort
