# Needed for check and lint scripts
-e git+https://github.com/EncoreTechnologies/st2sdk.git@feature/requirement_updates#egg=st2sdk
six==1.13.0
#flake8==4.0.1
pyyaml
pep8
flake8==3.7.7
astroid
pylint
isort
